@model PGProgrammeApplications.Models.HomeViewModel


    
        <div class="container">
            <div class="col-lg-2">
                <div class="btn-group btn-group-lg btn-group-vertical">
                    @{
                        var link = Url.Action("Detail", "PersonalData", new { id = Model.StudentId });
                        var linkAction = $"javascript: window.location='{link}'";
                        <button type="button" class="btn btn-default" onclick="@linkAction">Personal Details</button>
                    }
                    <button type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Apply <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            @Html.ActionLink("My Applications", "Student", "Applications", new { id = Model.StudentId }, new { })
                        </li>
                        @if (Model.CanApply)
                        {
                            <li>
                                @Html.ActionLink("Make Aplication", "Create", "Applications", new { id = Model.StudentId }, new { })
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div id="news-feed" ng-controller="NewsFeedController" class="col-lg-10">
                <h4>Latest News</h4>
                <div ng-repeat="story in stories | orderBy:date:descending">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4>{{story.headline}}</h4>
                            <span ng-repeat="tag in story.tags">
                                <span class="story-tag" ng-show="tag">{{tag}}</span>
                            </span>
                        </div>
                        <div class="panel-body">
                            <p>{{story.summary}}</p>
                            <div>
                                <a href="{{story.url}}" ng-click="openLink(story.url, $event)">Read more...</a>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span>Story posted on: {{story.displayDate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        

    </div>



<style>
    .story-tag{
        font-size:x-small;
        display:inline-block;
        padding:0.2rem;
        border:1px solid silver;
        background-color:floralwhite;
        border-radius:0.5rem;
        margin-right:0.5rem;
    }

    .panel-footer > span{
        color:grey;
    }
</style>