@model PGProgrammeApplications.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome @Model.UserDisplayName</h1>
    
</div>

@{      
    if (Model.HomePageType == PGProgrammeApplications.Security.AppIdentityType.Student)
    {
        Html.RenderPartial("_StudentHome", Model);
    }
    else
    {
        Html.RenderPartial("_StaffHome", Model);
    }
}


