@model PGProgrammeApplications.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome @Model.UserDisplayName</h1>
@{      
    if (Model.HomePageType == PGProgrammeApplications.Security.AppIdentityType.Student)
    {
        Html.RenderPartial("_StudentHome", Model);
    }
    else
    {
        Html.RenderPartial("_StaffHome", Model);
    }
}


